#usrInput {
  font-size: 30px;
  line-height: 75px;
}

.body {
  background-color: darkgrey;
}

#usrInput {
  user-select: none;
}

#searchBtn {
  -webkit-filter: brightness(100%);
  user-select: none;
}

#searchBtn:hover {
  cursor: pointer;
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
